name: Publish Package to npmjs
on:
  release:
    types: [created]
  push:
    tags:
      - v*

permissions:
  id-token: write  # Required for OIDC
  packages: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest 
    
    permissions: 
      contents: read
      packages: write 

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Setup .npmrc file to publish to GitHub Packages
      - name: "Setup NodeJs v16 and npm registry"
        uses: actions/setup-node@v4
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@aleph-indexer'

      - name: "Build packages"
        run: npm ci
        # Internally calls build:ts

      - name: "Publish packages"
        run: npm run publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
